[submodule "submodules/abseil-cpp"]
	path = submodules/abseil-cpp
	url = ../../abseil/abseil-cpp.git
[submodule "submodules/Lyra"]
	path = submodules/lyra
	url = ../../bfgroup/Lyra.git
[submodule "submodules/fe"]
	path = submodules/fe
	url = ../fe
