[submodule "external/abseil-cpp"]
	path = external/abseil-cpp
	url = ../../abseil/abseil-cpp.git
[submodule "external/Lyra"]
	path = external/lyra
	url = ../../bfgroup/Lyra.git
[submodule "external/fe"]
	path = external/fe
	url = ../fe
